
.lightbox-outer{
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  display: none;
}

.lightbox-inner{
  text-align: center;
}

/*
img{
  width: 100%;
}*/
